body{
    background-color:#EDEDED !important;
    background :url('https://lukepolo.com/assets/img/broken_noise.png') !important;
	
}
.hero-unit p,
p{
    font-size:100% !important;
}
 
/* STICKY FOOTER */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

  /* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -66px;
}

  /* Set the fixed height of the footer here */
#push,
#footer {
	padding-top: 20px;
	background-image:url('https://lukepolo.com/assets/img/broken_noise.png') !important;
	color:white;
}
#footer {
	background-color: #f5f5f5;
}

  /* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	  text-align: center !important;
	}
	#footer_contents div {
		margin-bottom: 10px;		
	}
	#footer_right_contents {
		text-align: center !important;
	}
	.nav-collapse{
		margin-bottom: -15px;
	}
}

@media (max-width: 978px) {
	.nav-collapse{
		margin-bottom: -25px;
	}
}

/* STICKEY FOOTER END */
#footer p{
    display:inline-block;
}
.quote{
    margin-top:25px;
    display:inline-block
}

.website-picture{
    height: 300px !important;
    overflow: hidden;
}

.hero-unit{
    background-color:white;
}

.navbar-inner {
    background:white !important; 
    border-bottom: 20px solid #232323 !important;
}

.navbar .nav .active > a{
    color:#FF8E00;
    background-color:#232323;
}

.navbar .nav > li > a:hover:not(.active){
    background-color: #222222 !important;
    color:#FF8E00;
}

/*
  The top text color on the nav bar
*/
.navbar .nav > li > a {
    color: #FF8E00;
    font-weight:bold;
	/*text-shadow: none;*/
}

.menu_sub_text{
    color:white;
    text-shadow:none !important;
    font-weight:none !important;
}

.portfolio {
    height: 425px;
	background-color: white;
}

.portfolio img {
    width:100% !important;
}

.portfolio p {
    padding-top:15px;
    text-align: center;
}

/*
 Text of quote
*/
.navbar-inner h2{
    font-weight: bold;
    line-height: 13px;
    color:#FF8E00;    
}

#nav-header{
	box-shadow: 0px 1px 2px #232323;
}
.bottom_body{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1000;
    background-image:url('https://lukepolo.com/assets/img/blue.png') !important;
	box-shadow: 0px -2px 5px #0157b2;
}

.date {
  position: relative;
  width: 70px;
  font-family: Georgia, serif;
  color: #999;
  margin: 0 auto;
 }
 
.day, .month, .year {
  position: absolute;
}
 
.day { 
  font-size: 30px;
  top: 25px;
}
 
.month { 
  top: 0;
  left: 0;  
  font-size: 18px;
}
 
.year { 
  top: 30px;
  right: 8px;
  font-size: 20px;
  rotation: -90deg !important;
  /* ** Hacks ** */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
  }
  
.white-block {
    position: relative;
    margin-top: 15px;
    padding: 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#content_holder {
	margin-bottom:100px;
	margin-top:15px;
}

.header_logo {
	width:185px;
}

#footer_digital {
	text-align:center !important;
}

#footer_right_contents{
	text-align: right;
}

.content {
	font-size: 14px !important;
}

#live {
	font-size: 14px !important;
}