body{
    background-color:#EDEDED !important;
    background-image:url('https://static.lukepolo.com/public/assets/img/broken_noise.png') !important;
}
.hero-unit p,
p{
    font-size:100% !important;
}

body > .container{
    min-height:100%;
}

html, body {
    height: 100%;
 }
 
#content{
    background-color:white;
}