.comment-area {
  .container-fluid {
    padding-left:14px;
    padding-right:0px;
  }
  .navbar {
    border-radius: 0;
    border:none;
    border-bottom: 3px solid #F1F1F1;
  }

  .navbar-brand {
    position: relative;
    top: 6px;
    border-bottom: 3px solid transparent;
  }

  .navbar-nav > li > a {
    position: relative;
    top: 3px;
    border-bottom: 3px solid transparent;
  }
  .navbar-header a:hover,
  .navbar-nav > li > a:hover {
    border-bottom: 3px solid #F9AA8B;
    background: none;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background:none;
  }

  .user-image {
    height:48px;
  }

  input {
    height:48px;
  }
  .comments {
    margin-top:15px;
    font-size: 15px;

    .comment-row {
      clear: both;
    }
    .user-name {
      font-weight: bolder;
    }
    .comment {
      margin-top:5px;
    }
  }
  .comment-footer {
    margin-top:5px;
  }
  .comment-footer,
  .timestamp {
    color: #828282;
  }
  .comment-post {
    height: initial;
  }
  hr {
    margin: 10px;
  }
}
