#projects {
  circle {
    cursor: pointer;
  }
}

.project-details {
  display: none;

  .show-projects {
    span {
      vertical-align: super;
    }

    h2 {
      display: inline;
    }
  }

  .project-html {
    img {
      display: block !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }
}
